<!--Header-->
<%- include("partials/header.ejs") %>
<!--Navbar-->
<%- include("partials/navbar_job.ejs") %>

<section class="projects-section bg-white" id="jobs">
    <div class="container px-4 px-lg-5 ">
        <h1 class="text-pink mb-4 text-center"><b>Confira nossas vagas</b></h1>
    </div>

    <table class="container-table table table-bordered table-hover mb-5">
        <thead>
            <tr>
                <th scope="col"><h2 class="text-pink"><b>Área</b></h2></th>
                <th scope="col"><h2 class="text-gray"><b>Vaga</b></h2></th>
                <th scope="col"><h2 class="text-gray"><b></b></h2></th>
            </tr>
        </thead>

        <tbody>
            <% jobs.forEach(jobs => { %>
            <tr>
                <td><%= jobs.area %></td>
                <td><%= jobs.title %></td>
                <td><a class="btn-sm btn-secondary" href="jobdescription/<%=jobs.id%>">Aplicar</a></td>
            </tr>   
            <% }) %> 
        </tbody>
    </table>
</section>




<!--Contact Information-->
<%- include("sections/section06_footer.ejs") %>
<!--Footer -->
<%- include("partials/footer.ejs") %>