<!--Header-->
<%- include("partials/header.ejs") %>
<!--Navbar-->
<%- include("partials/navbar_job.ejs") %>

<section class="projects-section bg-white" id="jobs">
    <div class="container px-4 px-lg-5 ">
        <div class="row gx-4 gx-lg-5 ">
            <div class="col-lg-8">
                <h1 class="text-gray mb-4 text-center">Confira nossas vagas</h1>
            </div>
        </div>
    </div>

    <div class="container">
        <hr>
        <div class="row text-center">
            <div class="col-sm"><h2 class="text-dark">Ãrea</h2></div>
            <div class="col-sm"><h2 class="text-dark">Vaga</h2></div>
            <div class="col-sm"><h5 class="text-dark"></h5></div>
        </div>
    </div> 

    <% jobs.forEach(jobs => { %>
    <div class="container">
        <hr>
        <div class="row text-center py-4">
            <div class="col-sm"><h2 class="text-gray"><%= jobs.area %> </h2></div>
            <div class="col-sm"><h5 class="text-gray"><%= jobs.title %> </h5></div>
            <div class="col-sm"><h2><a class="btn-sm btn-secondary" href="jobdescription/<%=jobs.id%>">Aplicar para a vaga</a></h2></div>
        </div>
    </div> 
    <% }) %>
</section>

<!--Contact Information-->
<%- include("sections/section06_footer.ejs") %>
<!--Footer -->
<%- include("partials/footer.ejs") %>