<!--Header-->
<%- include("partials/header.ejs") %>
<!--Navbar-->
<%- include("partials/navbar_job.ejs") %>

<section class="projects-section bg-white" id="jobs">
    <div class="container px-4 px-lg-5 ">
        <div class="row gx-4 gx-lg-5 ">
            <div class="col-lg-8">
                <h1 class="text-gray mb-4">Confira nossas vagas:</h1>
            </div>
        </div>
        <% jobs.forEach(jobs => { %>
        <div class="container px-4 px-lg-5 ">
            <div class="row gx-4 gx-lg-5 ">
                <div class="col-lg-8">
                    <h2 class="text-gray mb-4"><%= jobs.area %></h2>
                    <p class="text-gray">
                    </p>
                    <a class="btn-secundary" href="jobdescription/<%=jobs.id%>">Apply</a>
                </div>
            </div>
        </div> 
        <% }) %>
</section>

<!--Contact Information-->
<%- include("sections/section05_footer.ejs") %>
<!--Footer -->
<%- include("partials/footer.ejs") %>