<!--Header-->
<%- include("../../partials/header.ejs") %>
<!--Navbar-->
<%- include("../../partials/navbar_job.ejs") %>

<section class="projects-section bg-white" id="jobs">
    <div class="container px-4 px-lg-5 ">
        <h1 class="text-pink mb-4 text-center"><b>Editar usuários</b></h1>
        
    </div>

    <table class="container-table table table-bordered table-hover mb-5">
        <thead>
            <tr>
                <th scope="col"><h2 class="text-pink"><b>Nome</b></h2></th>
                <th scope="col"><h2 class="text-pink"><b>Email</b></h2></th>
                <th scope="col"><h5 class="text-gray"><b>Remover</b></h5></th>
                <th scope="col"><h5 class="text-gray"><b>Editar</b></h5></th>
            </tr>
        </thead>

        <tbody>
            <% users.forEach(users => { %>
            <tr>
                <td><%= users.name %></td>
                <td><%= users.email %></td>
                <form method="POST" action="/users/delete" onsubmit=deleteCheck(event,this)>
                    <input type="hidden" name="id" value="<%= users.id %>">
                    <td><button class="btn-sm btn-danger">Remover</button></td>
                </form>
                <td><a href="/admin/users/edit/<%= users.id %>"><button  type="button" class="btn-sm btn-info">Editar</button></a></td>
            </tr>   
            <% }) %> 
        </tbody>
    </table>

    <div class="container-sm text-center">
        <a href="/admin/users/new"><button  type="button" class="btn-job btn-warning">Criar novo usuário</button></a>
    </div>
</section>


<!--Contact Information-->
<%- include("../../sections/section06_footer.ejs") %>
<!--Footer -->
<%- include("../../partials/footer.ejs") %>