<!--Header-->
<%- include("../partials/header.ejs") %>
<!--Navbar-->
<%- include("../partials/navbar_job.ejs") %>


<section class="about-section text-center" id="about">
<div class="container px-4 px-lg-5 ">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-lg-8">
            <div class="text-md-start ">
                <h3 class="text-dark mb-4 text-indent">Área de atuação: <%= jobs.area %></h3>
                <hr>
                <div class="text-indent">A Zapay veio para revolucionar o jeito de pagar os débitos veiculares, entregando mais liberdade, mais tempo e menos burocracia para os proprietários de veículos. Com esse propósito, desde 2017, já ajudamos a regularizar quase 500 mil veículos, tivemos mais de 4 milhões de consultas de multas, IPVA e licenciamento em nossa base e conseguimos o credenciamento de 25 DETRAN’s do país.</div>
                <br>
                <div  class="text-indent "> Hoje nosso objetivo é conseguir entregar mais agilidade e desburocratizar ainda mais processos para os condutores. Somos uma fintech que está escrevendo seu novo capítulo no mercado. Após recebermos um aporte liderado pela DOMO Invest, nossa nova parceria, o sonho grande agora é criar o maior ecossistema veicular do mercado de auto no Brasil. Quer fazer parte dessa inovação?</div>
                <br><br>
                <h3 class="text-dark mb-2">Vaga: <%= jobs.title %></h3><br>

                <h3 class="text-dark mb-2">Como será o dia a dia do(a) futuro(a) <%= jobs.title %>:</h3>
                <ul> 
                    <%- String(jobs.day).replace(/^/,"<li>").replace(/;/g, ';<li>') %> </li>
                </ul>

                <h3 class="text-dark mb-2">Quais são as principais habilidades que você deve ter: </h3>
                <ul>
                    <%- String(jobs.ability).replace(/^/,"<li>").replace(/;/g, ';<li>') %> </li>
                </ul>    

                <h3 class="text-dark mb-2">Quais são os diferenciais que podem te ajudar: </h3>
                <ul>
                    <%- String(jobs.difference).replace(/^/,"<li>").replace(/;/g, ';<li>') %> <br> 
                </ul>   
                <h3 class="text-dark mb-2">Benefícios: </h3>
                <ul>
                    <li>Cartão flash para uso flexível;</li>
                    <li>Flexibilidade de férias;</li>
                    <li>Day off no aniversário;</li>
                </ul>
                
                <h3 class="text-dark mb-4">Como se candidatar?</h3>
                <p class="text-indent">Antes de se candidatar, é importante verificar se você atende a todos os requisitos essenciais da posição. Caso atenda, basta encaminhar o seu CV para o e-mail: <strong>people@usezapay.com.br</strong> com o assunto "<%= jobs.title %>".</p>

                <div class="text-center mb-6">
                    <a class="btn btn-primary" href="/vagas">Ver mais vagas</a>
                </div>

            </div>                  
        </div>
    </div>
</div>
</section>

<!--Contact Information-->
<%- include("../sections/section05_footer.ejs") %>
<!--Footer -->
<%- include("../partials/footer.ejs") %>